@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 210 29% 96%;
    --foreground: 211 32% 18%;
    --card: 0 0% 100%;
    --card-foreground: 211 32% 18%;
    --popover: 0 0% 100%;
    --popover-foreground: 211 32% 18%;
    --primary: 211 32% 28%;
    --primary-foreground: 0 0% 98%;
    --secondary: 210 20% 92%;
    --secondary-foreground: 211 32% 18%;
    --muted: 210 20% 92%;
    --muted-foreground: 211 20% 45%;
    --accent: 203 100% 62%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 88%;
    --input: 210 20% 88%;
    --ring: 203 100% 62%;
    --chart-1: 211 32% 28%;
    --chart-2: 203 100% 62%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 211 32% 28%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 203 100% 62%;
    --sidebar-primary-foreground: 211 32% 18%;
    --sidebar-accent: 211 32% 35%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 211 32% 35%;
    --sidebar-ring: 203 100% 62%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 203 100% 62%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 203 100% 62%;
    --chart-1: 211 32% 40%;
    --chart-2: 203 100% 70%;
    --chart-3: 197 37% 34%;
    --chart-4: 43 74% 76%;
    --chart-5: 27 87% 77%;
    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-primary: 203 100% 62%;
    --sidebar-primary-foreground: 222 47% 11%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-ring: 203 100% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
